@charset "UTF-8";
/* CSS Document */

body {
	background-color: #ABEAE5;
	margin: 0px;
	padding: 0px;
}
#container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	margin-top: 0px;
}

#header {
	width: 1140px;
	margin-left: 60px;
}


#content {
	width: 100%;
	overflow: hidden;
	margin-top: 0px;
}

#block {
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
#header h1 {
	width: 200px;
	display: block;
	margin: 0px;
	padding: 0px;
	color: #ADEAE5;
}
#header h2 {
	color: #666;
	display: block;
	padding: 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
}
